<header class="container header-main-page">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a class="pull-left" href="./index.html">
                <div class="logo-black col-md-6 col-sm-6 col-xs-6"></div>
            </a>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5 request-call-phone">
            <a href="#modal" class="btn btn-call btn-white">Request a Call</a>
            <a class="phone" href="tel:1300021087"><span class="glyphicon glyphicon-earphone"></span> 1300 021 087</a>
        </div>
        <div class="col-md-1 col-sm-6 col-xs-6">
            <a class="cd-primary-nav-trigger pull-right" href="#0">
                <span class="cd-menu-icon cd-menu-icon-black"></span>
            </a>
        </div>
    </div>
</header>